
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

.header {
  text-align: center;
  width: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
  text-align: center;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.container .text-muted {
  margin: 20px 0;
}

.mast {
  text-align: center;
  padding: 20px;
}

p {
  font-family:Tahoma, Geneva, sans-serif;
}