---
layout: default
---
<div class="blog-header">
    <h1 class="blog-title"><a href="/">{{ site.name }}</a></h1>
    <p class="lead blog-description">people, coding, people coding, and other combinations</p>
</div>
<div class="row">
    <div class="col-sm-12 blog-main">
        <div class="blog-post">
            <h2 class="blog-post-title">{{ page.title }}</h2>
            <p class="blog-post-meta">{{ page.date | date_to_string }}</p>
            <p>{{ content }}</p>
            <hr>
            <p>
                {% if page.next %}
                <span class="blog-post-nav-next">&lt;&lt; <a href="{{ page.next.url }}">{{ page.next.title }}</a></span>
                {% endif %}
                {% if page.previous %}
                 <span class="blog-post-nav-prev"><a href="{{ page.previous.url }}">{{ page.previous.title }}</a>&gt;&gt;</span>
                {% endif %}
            </p>

        </div>
    </div>
</div>
